/* body{
   background-color: lightgray; 
   border: 2px solid gray;
   border-radius: 2px;
}  */

/* body{
    background-color: black;
}

/* #wrapper{
    text-align: center;
    background-color: lightgray;
    
    
} */
/* 

h1{
    text-align: right;
    padding-right: 20%;
    color: white;
}
#r1 {
    overflow:hidden;
    padding: 0%;
    margin: 0%;
}
#p{
    color: white;
    
    text-align:center;
    width: 20%;
    float: left;
    padding: 10px;
    background-color: rgb(66, 66, 74);
    border: 1px solid black;
    margin: 0%;
}
#py{
    text-align:center;
    width: 20%;
    float: left;
    padding: 10px;
    border: 1px solid black;
    margin: 0%;
    background-color:  yellow;
} */


 








/* 

<div id="wrapper">
<div id="header">
     <h1>0</h1>
 </div>
 <div id="r1"  >
     <p id="p">AC</p>
     <p id="p">+/-</p>
     <p id="p">%</p>
     <p id="py">/</p>

 </div>
 <div id="r2">
     <p id="p">7</p>
     <p id="p">8</p>
     <p id="p">9</p>
     <p id="py">*</p>
 </div>
 <div id="r3">
     <p id="p">4</p>
     <p id="p">5</p>
     <p id="p">6</p>
     <p id="py">-</p>
     
 </div>
 <div id="r4">
     <p id="p">1</p>
     <p id="p">2</p>
     <p id="p">3</p>
     <p id="py">+</p>
     
 </div>
 <div id="r5">
     <p id="p" style="width: 42%;">0</p>
    
     <p id="p">.</p>
     <p id="py">=</p>
     
 </div>

</div> */



body{
    background-color: black;
}

.wrapper{
    margin-left: 30%;
    margin-right:39%;
    
    background-color: yellowgreen;
    border-radius: 5px;
}
.row1{
    height:175px;
    text-align:right;

}
.zero{
    padding-top: 60px;
    padding-right: 30px;
    color:white;
 font-size: 80px;
}
.row{
    
}

.col{
    margin: 0%;
    display: inline-block;
    width: 13%;
    height:13%;
    text-align: center;
    padding: 20px;
    background-color: tomato;
    color:white;
    font-size: 40px;
    font:bold;
    border: 2px solid black;
}